@import url('https://fonts.googleapis.com/css?family=Audiowide|Play&display=swap');

* {
    box-sizing: border-box; 
}

html {
    width:100%;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: rgb(255, 255, 255); 
    display: grid;

}

#logo {
    width: 1.8em; 
    float: left; 
}

.header-section, .nav-section, .search-sort-section, footer {
    font-family: 'Audiowide', cursive;
    color: darkred;
}

.pokemon-section {
    font-family: 'Play', sans-serif;
    background: lightblue; 
    margin:0;
}
ul {
    list-style-type: none;
}

.pokemon-list {
    display: grid; 
    
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.pokemon-item {
    border: 1px solid black; 
    width:100%; 
    /* box-shadow: 1px 1px 1px gray;  */
}

.header-section {
    background: lightgray; 
}
.search-sort-section {
    background: lightgray; 
}